body {
    background-color: #f0f8ff; /* 부드러운 파란색 */
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    color: #2a9d8f; /* 링크 색상을 녹색으로 변경 */
}

h1, h2, h3 {
    color: #264653; /* 제목 색상을 짙은 회색으로 변경 */
}

.post {
    padding: 1.5em;
    margin-bottom: 1em;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header, footer {
    background-color: #264653; /* 어두운 배경 */
    color: #f0f8ff;           /* 밝은 글자색 */
    padding: 1.5em;
    text-align: center;
}
